body {
    margin: 0;
}
.container {
    background-color: rgb(58, 134, 200);
    height: 100vh;
    width: 100%;
}
@media screen and (min-width: 768px)
{
    .container{
        background-color: black;
        height: 50vh;
    }    
}
@media screen and (min-width: 1200px)
{
    .container{
        background-color: yellow;
    }    
}